{% if tags is not empty %}
    <div class="d-flex flex-wrap gap-1">
        {% for tag in tags %}
            <span class="badge" style="background-color: {{ tag.color }}; color: #fff;">
                {{ ux_icon('tabler:tag', {width: '12px', height: '12px'}) }}
                {{ tag.name }}
            </span>
        {% endfor %}
    </div>
{% endif %}
